fastapi
uvicorn
python-dotenv>=1.0.1
aiohttp
pydantic>=2.6.1
google-cloud-aiplatform
vertexai
loguru>=0.7.2
tenacity
tomli
PyYAML>=6.0.1
sentencepiece
uuid7
requests
urllib3
tabulate>=0.9.0
motor>=3.3.2
pymongo>=4.6.1

