aiohttp
fastapi
loguru
python-dotenv
pydantic
uvicorn
google-cloud-aiplatform
vertexai
tenacity
tomli
PyYAML
sentencepiece
uuid7
requests
urllib3
tabulate
pymongo
google-genai
pydantic-settings

# Testing dependencies
pytest
pytest-asyncio
pytest-cov
pytest-xdist
pytest-mock
coverage
